<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
      ">

    <bean id="arithInterface" class="com.demo.baseXml.ArithImpl"></bean>

    <context:component-scan base-package="com.demo.aop.anno"></context:component-scan>



    <!--声明一个切面-->
    <bean id="logProxy" class="com.demo.baseXml.LoggingProxy"/>
    <bean id="checkProxy" class="com.demo.baseXml.CheckProxy"/>
    <aop:config>
        <aop:aspect id="logPorxy" ref="logProxy" order="1"><!--order越小，优先级越高-->
            <aop:pointcut id="logService" expression="execution(* com.demo.baseXml.ArithInterface.*(int,int))"/>
            <aop:before method="beforeAdd" pointcut-ref="logService"/>
            <aop:after-returning method="returnAdd" pointcut-ref="logService" returning="result"/>
            <aop:after method="afterLog" pointcut-ref="logService"/>
            <aop:after-throwing method="throwException" pointcut-ref="logService" throwing="e"/>
        </aop:aspect>
        <aop:aspect id="cheproxy" ref="checkProxy" order="2">
            <aop:pointcut id="logService" expression="execution(* com.demo.baseXml.ArithInterface.*(int,int))"/>
            <aop:before method="doSomeCheck" pointcut-ref="logService"/>
        </aop:aspect>
    </aop:config>

    <!-- 事务管理 demo -->

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring-demo"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!-- 启用事务注解 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>